*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

/*@font-face{
    font-family: "Bungee";
    src:url(/fonts/bungee.regular-webfont.woff);
}

@font-face{
    font-family: "rajdhani-medium";
    src:url(/fonts/rajdhani.medium-webfont.woff);
}*/

body{
    margin: 0;
    font-family: "Verdana","Roboto", sans-serif;
    line-height: 1.5;
}

li{
    list-style: none;
}

.header-menu{
    background-color: #3D0349;
    display: flex;
    position: fixed;
    width: 100%;
    height: 60px;
    padding: 8px;
    padding-top:32px;
    padding-bottom: 32px;
}

.header-menu nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.list-menu{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    list-style: none;
    align-items: center;
}

.list-menu li>a{
    color: #FFF;
    font-size: 18px;
    text-decoration: inherit;
    
}

.container{
    margin-right: auto;
    margin-left: auto;
    max-width: 1160px;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
}


.about-us{
    display: flex;
    height: 100vh;
}

.subcontainer-about-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.principal{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head{
    color:#FF9100;
    font-size: 42px;
    font-family: "Bungee", "Roboto", sans-serif;
}

.slogan{
    font-size: 26px;
    color: #A4D80A;
    font-weight: bold;
}


.content-text{
    text-align: justify;
    font-size: 16px;
}

.presentation-text{
    text-align: justify;
    font-size: 16px;
    font-style: italic;
}

.our-history{
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    flex-direction: column;
}

.title{
    font-size: 32px;
    color: #FF9100;
    line-height: 60px;
    text-align: center;
}
.subtitle{
    color: #6D90C6;
    font-size: 26px;
    font-weight: bold;
    text-align: left;

}

.subtitle-name{
    color: #6D90C6;
    font-size: 26px;
    font-weight: bold;
    text-align: left;

}

.description{
    color: #3D0349;
    font-size: 16px;
    font-weight: bold;
}

.wrapper-equipe{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
}

.img-body{
    max-width: 300px;
    max-height: 300px;
    margin-top: 100px;
    border-radius: 50%;
}

.footer{
    background-color: #3D0349;
    display: flex;
    align-items: center;
    height: 20vh;
}

.footer-list{
    color: #FFF;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.estilo-icon{
    font-size: 22px;
    margin-right: 10px;
}

.link{
    color: #FFF;
    text-decoration: none;
}

.avatar{
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

@media screen and (max-width: 767px) {
    header .control-nav {
      position: absolute;
      right: 20px;
      top: 20px;
      display: block;
      width: 30px;
      padding: 5px 0;
      border: solid #333;
      border-width: 3px 0;
      z-index: 2;
      cursor: pointer;
    }
  
    header .control-nav:before {
      content: "";
      display: block;
      height: 3px;
      background: #333;
    }
  
    header .control-nav-close {
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      left: 0;
      display: block;
      z-index: 1;
      background: rgba(0,0,0,0.4);
      -webkit-transition: all 500ms ease;
      transition: all 500ms ease;
      -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
      transform: translate(100%, 0);
    }
  
    header nav {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 250px;
      border-left: 1px solid #ccc;
      background: #fff;
      overflow-x: auto;
      z-index: 2;
      -webkit-transition: all 500ms ease;
      transition: all 500ms ease;
      -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
      transform: translate(100%, 0);
    }
  }